<!DOCTYPE html>
<html>
<head>
    <title>My Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>My Products</h1>

    {% for product in products %}
    <div class="product-card">

        <h2>{{ product[2] }}</h2>

        <p class="price">₹{{ product[3] }}</p>

        <p>{{ product[4] }}</p>

        <br>

        <a href="/delete-product/{{ product[0] }}">
            Delete Product
        </a>

    </div>
    {% endfor %}

</div>

</body>
</html>